<!doctype html>
<html lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	{{#if fabricator}}
		<link rel="stylesheet" href="fabricator.css">
	{{/if}}
	<link rel="stylesheet" href="../lib/styleguide.css">
</head>
<body>
	{{#if fabricator}}
		{{> f-icons}}
		{{> f-menu}}
		<div class="f-container">
			{{> f-control-bar}}
	{{/if}}

	{% body %}

	{{#if fabricator}}
		</div>
		<script src="fabricator.js"></script>
	{{/if}}

	<script src="../lib/styleguide.js"></script>

	<script>
		(function(doc, $) {
			var sprite = '../lib/sprite.svg';
			var xhr = new XMLHttpRequest();
			xhr.open('GET', sprite, true);
			xhr.overrideMimeType('image/svg+xml');
			xhr.send();
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4) {
					var el = document.createElement('div');
					el.innerHTML = xhr.responseText;
					el.id = 'svg-sprite';
					doc.body.appendChild(el);
					populateSVGLibary();
				}
			};

			function populateSVGLibary() {
				var $svgContainer = $('.js-svg-libary');
				if($svgContainer.length >0) {
					var svgLibHTML = "";
					var svgSymbol = $('#svg-sprite').find('symbol');
					svgSymbol.each( function() {

						var svgName = $(this).attr('id').replace('icon-','');

						svgLibHTML += "<div class='grid__col'><a href='#icons."+svgName.replace("--", "-")+"'>"+svgName+"</a><div class='f-graphic-bg'><span class='icon icon--xl icon--"+svgName+"'><svg><use xlink:href='#icon-"+svgName+"'></use></svg></span></div></div>";
					} );
					$svgContainer.html(svgLibHTML);
				}
            };
		}(document, jQuery));
	</script>
</body>
</html>
