<!doctype html>
<html lang="">
<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

	{{#if fabricator}}
		<link rel="stylesheet" href="fabricator.css">
	{{/if}}
	<link rel="stylesheet" href="../lib/styleguide.css">
</head>
<body ontouchstart>
	{{#if fabricator}}
		{{> f-icons}}
		{{> f-menu}}
		<div class="f-container">
			{{> f-control-bar}}
	{{/if}}

	{% body %}

	{{#if fabricator}}
		</div>
		<script src="fabricator.js"></script>
	{{/if}}

	<script src="../lib/styleguide.js"></script>

	<script>
		(function(doc) {
			var sprite = '../lib/sprite.svg';
			var xhr = new XMLHttpRequest();
			xhr.open('GET', sprite, true);
			xhr.overrideMimeType('image/svg+xml');
			xhr.send();
			xhr.onreadystatechange = function() {
				if (xhr.readyState === 4) {
					var el = document.createElement('div');
					el.innerHTML = xhr.responseText;
					el.id = 'svg-sprite';
					doc.body.appendChild(el);
				}
			};
		}(document));
	</script>
</body>
</html>
