---
title: Revolve Clothing | Styleguide
fabricator: true
---

<h1>Overview</h1>

<p>Global CSS settings, fundamental HTML elements styled and enhanced with extendible classes, and an advanced grid system.</p>

<p>In lieu of a formal styleguide, take care to maintain the existing coding style. Be sure to use the documented section block when defining new blocks in this styleguide. Example can be found <a class="link--underline" href="styleguide-block.html"><strong>here</strong>.</a></p>

<blockquote class="sg-blockquote block">
  <p>We need to develop our CSS as if it is for a third party, similar to Bootstrap and other CSS frameworks. If your project (or your team) is moderate to large size, this will begin to necessitate two important features for our CSS: it should be well documented, and it should be versioned</p>
  <cite><a href="http://keithjgrant.com/posts/css-first.html">— Keith Grant (@keithjgrant) </a></cite>
</blockquote>

<h1>Lebowski</h1>

<p>If I could say a few words, I would be a better public speaker.</p>

<p>In the meantime, here are some {{lebowski.name}} references:</p>

<ul>
  {{#each lebowski.aliases}}
    <li>{{this}}</li>
  {{/each}}
</ul>
