---
title: pdp
data-json: pdp
page-options: mock-page-options
fabricator: false
layout: mock-page
content-styles: |
  position: relative;
  text-align: center;
---

  <!-- Image Carousel -->
  {{> product-image-carousel }}

  <!-- Product Title -->
  {{> product-title- }}

  <!-- Price -->
  {{> price- }}

  <!-- Add To Cart Form -->
  <form method="GET" action="">
    <input type="hidden" name="confirm" value="true" />
    {{> product-options.size }}<!-- remove space between inline-blocks
 -->{{> product-options.color }}
    {{> buttons.full- addToBag=true }}
    {{> product-estimated-delivery }}
  </form>

  <!-- Favorite button -->
  {{> favorite-buttons.default }}

<script>
  (function () {
    // queue functions for window.onload
    //rc.q.push(setSizeClass);
    //rc.q.push(setDeliveryDate);
    //rc.q.push(setupSizeChanges);

    // apply url parameters
    rc.applyParams({
      'product-notifications.one-left': addProductNotification,
      'product-notifications.preorder': addProductNotification,
      'product-notifications.final-sale': addProductNotification,
      'product-notifications.final-sale-sample-defect': addProductNotification,
    });

    // callback to add product notification template to html
    function addProductNotification(id) {
      var btn = document.getElementById('addToBag');
      var msg = document.getElementById(id).innerHTML;

      // add notification
      btn.insertAdjacentHTML('beforebegin', msg);
    }
  })();
</script>
