---
title: PDP Example
fabricator: false
---

<!-- Styles -->
<style>
  .pdp {
    position: relative;
    text-align: center;
  }
</style>

<!-- Head -->
{{> mock-head "pdp"}}

  <!-- Image Carousel -->
  {{> product-image-carousel}}

  <!-- Product Title -->
  {{> product-title-}}

  <!-- Price -->
  {{> price-}}

  <!-- Add To Cart Form -->
  <form method="post" id="addtocart" action="javascript:;">
    {{> buttons.full- addToBag=true}}
  </form>

  <!-- Favorite button -->
  {{> favorite-buttons.default}}

<!-- Foot -->
{{> mock-foot}}

<!-- Page Options -->
{{> mock-page-options pdp.options.notifications}}

<script>
  (function () {
    // callback to add product notification template to html
    var addProductNotification = function (id) {
      var msg = document.getElementById(id).innerHTML;
      var form = document.getElementById("addtocart");
      var btn = form.getElementsByClassName("btn--full")[0];

      btn.insertAdjacentHTML('beforebegin', msg);
    };

    // list of options and their associated callback
    var options = {
      "product-notifications.one-left": addProductNotification,
      "product-notifications.preorder": addProductNotification,
      "product-notifications.final-sale": addProductNotification,
      "product-notifications.final-sale-sample-defect": addProductNotification,
    }

    // execute helper function
    applyParams(options);
  })();
</script>
