/**
 * Fabricator styles
 * @author Luke Askew
 * Class selectors are namespaced with "f-"
 */

$settings: (
	theme: light,
	accent: hsl(0, 0%, 46%),
	menu-width: 14rem
);

@import 'partials/variables';
@import 'partials/code';
@import 'partials/color-chips';
@import 'partials/controls';
@import 'partials/item';
@import 'partials/layout';
@import 'partials/menu';

// revolve style overrides
@import 'partials/revolve'
// CODE REVIEW: is this the best place to include? does this hurt our approach to "upgrading" to future versions of fabricator? am i better off including this thru a new entry point?
