/* @branding
--------------------------------------------------------

  The logo & (optional) wordmark

  Example: Branding logo
  <a class="branding" href="/">
    <img class="branding__logo img--title" src="images/logo.svg" alt="My Company">
    <h1 class="branding__wordmark">My Company</h1>
  </a>

------------------------------------------------------ */
/**/
.branding {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  margin: 0;
  padding-right: rem(20);
  float: left;
  text-align: left;
  text-decoration: none;

  // .branding__logo
  // Embedded image element
  &__logo {
    // display: block;
    width: rem(70);
    height: rem(18);
    //transform: translate3d(0, 0, 0);
    //transition: width .15s ease, height .15s ease;
    //vertical-align: top;
    // add SASS parent nest style back after eagle
    // js adds state to parent
    // .is-fixed & {
          // width: rem(125);
          // height: rem(20);
    // }
  }
}