@import '../lib/vars';
@import '../lib/mixins/breakpoints';

/**

  @product options
--------------------------------------------------------
  modules/_product-options.scss
--------------------------------------------------------

  Product's options (size & color)

------------------------------------------------------ */

%option {
  @extend %h4;
  display: block;
  padding: rem( 14 24 12 );
}

.product-color,
.product-size {
  position: relative;
  width: 100%;
  margin-bottom: rem(8);
  background-color: $color__offwhite;
  text-align: left;
  z-index: 1; // need this for the label overlap trickery

  &:active {
    background-color: $color__black;
    label, select {
      color: $color__white;
    }
  }

  // .product-color__one, .product-size__one,
  // .product-color__label, .product-size__label
  // .product-color__select, .product-size__select,
  &__one,
  &__label,
  &__select {
    display: inline-block;
    background-color: transparent;
    margin-bottom: 0;
    text-align: left;
  }
  // .product-color__label, .product-size__label
  &__label {
    position: absolute;
    top: rem(12);
    left: rem(16);
    // TODO: Put this back to -1 once the more generic inline work has been
    // completed.
    z-index: -1;
    font-size: em(10);
  }

  // .product-color__one, .product-size__one,
  // .product-color__select, .product-size__select
  &__one,
  &__select {
    @extend %option;
    padding-left: rem( 54 );
    z-index: 2; // to stay behind the select it overlaps
    background-size: rem(16 16);
    // override default form styles
    width: 100%;
    border: {
      color: transparent;
      width: 0;
    }
    border-right-width: rem(16);
    box-shadow: none;
    &:disabled {
      -webkit-text-fill-color: $color__black;
      color: $color__black;
      opacity: 1;
    }
  }
}

// .product-size__oos
.product-size__oos {
  @extend %option;
  background-color: $color__pink--light;
  line-height: rem(16);
  text-align: center;
  color: $color__error;
}

// for larger than "small mobile" screens
@include bp-at-least($small-mobile) {
  // for "product" section
  .product__options {
    // .product__options .product-color,
    // .product__options .product-size
    .product-color,
    .product-size {
      float: left;
      width: 50%;
      &__one,
      &__select {
        padding: rem(30 24 15 16);
      }
    }
    // .product__options .product-color
    .product-color {
      border-left: rem(4) solid $color__white;
    }
    // .product__options .product-size
    .product-size {
      border-right: rem(4) solid $color__white;
      &__oos {
        padding: rem(23 14 21);
      }
    }
  }
}
