@import '../lib/vars';
@import '../lib/mixins/breakpoints';

/**

  @product options
--------------------------------------------------------
  modules/_product-options.scss
--------------------------------------------------------

  Product's options (size & color)

------------------------------------------------------ */

%option {
  @extend %h4;
  display: block;
  padding: rem(30 24 15 16);
}

.product-color,
.product-size {
  position: relative;
  float: left;
  width: 50%;
  margin-bottom: rem(8);
  background-color: $color__offwhite;
  z-index: 1; // need this for the label overlap trickery

  &:active {
    background-color: $color__black;
    label, select {
      color: $color__white;
    }
  }

  // .product-color__one, .product-size__one,
  // .product-color__label, .product-size__label
  // .product-color__select, .product-size__select,
  &__one,
  &__label,
  &__select {
    background-color: transparent;
    margin-bottom: 0;
    text-align: left;
  }
  // .product-color__label, .product-size__label
  &__label {
    position: absolute;
    top: rem(12);
    left: rem(16);
    z-index: -1; // to stay behind the select it overlaps
    font-size: em(10);
  }

  // .product-color__one, .product-size__one,
  // .product-color__select, .product-size__select
  &__one,
  &__select {
    @extend %option;
    z-index: 2; // to stay behind the select it overlaps
    background-size: rem(16 16);
    // override default form styles
    width: 100%;
    border: {
      color: transparent;
      width: 0;
    }
    border-right-width: rem(16);
    box-shadow: none;
    &:disabled {
      -webkit-text-fill-color: $color__black;
      color: $color__black;
      opacity: 1;
    }
  }
  // .product__options .product-color,
  // .product__options .product-size
  .product__options & {
    @include bp-until($small-mobile) {
      width: 100%;
    }
  }
}

.product-size {
  // .product-size__oos
  &__oos {
    @extend %option;
    background-color: $color__pink--light;
    padding: rem(23 14 21);
    line-height: rem(16);
    text-align: center;
    color: $color__error;
  }
  // TODO remove for QA feedback
  // .product-size__select.default
  &__select.default {
    color: $color__grey--light;
  }
}

.product__options {
  // .product__options .product-size
  .product-size {
    @include bp-at-least($small-mobile) {
      border-right: rem(4) solid $color__white;
    }
  }
  // .product__options .product-color
  .product-color {
    @include bp-at-least($small-mobile) {
      border-left: rem(4) solid $color__white;
    }
  }
}
