/**

  @site-footer
--------------------------------------------------------
  modules/_site-footer.scss
--------------------------------------------------------

  Site Footer Section

------------------------------------------------------ */

.site-footer {
  padding: rem(25 0);
  background: $color__black;
  color: $color__white;
  text-align: center;
  position: relative;
  a {
      color: $color__white;
      &:hover,
      &:active,
      &:focus {
        color: $color__white;
    }
  }
  &__inner {
    width: rem(290);
    margin: 0 auto;
  }
}
