/**

  @stacked-menu
--------------------------------------------------------
  modules/_stacked-menu.scss
--------------------------------------------------------

  stacked menu

------------------------------------------------------ */
.stacked-menu {
  margin: 0;
  border-top: rem(1) solid $color__border;
  list-style: none;
  &__item {
    border-bottom: rem(1) solid $color__border;
  }
  &__label {
    @extend %headings;
    display: block;
    padding: rem(0 12 0 17);
    font-size: em(16);
    line-height: rem(50);
    overflow: hidden;
    vertical-align: middle;
    &.is-active {
      .icon {
        transform: rotate(90deg);
      }
    }
  }
  &__icon {
    margin-top: rem(16);
    float: right;
  }
}
