/****

  MAIN STYLESHEET for Revolve

---------------------------------------------------------

  EVOLVING CSS ARCHITECTURE

---------------------------------------------------------

  TABLE OF CONTENTS
  @toc

  - Base ............ foundations, mixins, functions, vars
  - Elements ........ single elements
  - Layout .......... layout objects like grids, containers
  - Modules ......... objects created by combining elements
  - Feature
  - Temp

---------------------------------------------------------  */





.eagle {
  @extend %font-primary;
  font-size: $base-html-size;
  color: $color__black;
  line-height: $base-line-height;
}

.eagle {









// Helpers
//
@import 'lib/helpers';




  /***

    @shame
  ---------------------------------------------------------

    Add css here if you're unsure where it should go for now.
    shame.scss is jokingly titled to make it a little
    light-hearted whilst also indicating that anything in
    there is a bit of a shame; a shame to have to have done,
    a shame to pollute the codebase with and so on…

  ---------------------------------------------------------  */

  // Damn Shame
  //
  // @import 'shame';

}
