/**
 * CSS overrides for Revolve Style Guide
 */

/* fabricator toggle icons are tiny */
.f-control svg,
.f-item-controls .f-control {
  width: 1.25rem;
  height: 1.25rem;
}

/* fabricator is shrinking our text */
.f-menu a,
.f-menu .f-menu__heading,
.f-item-notes,
pre[class*='language-'] {
  font-size: inherit;
}
